<FilesMatch "\.ini$">
  Deny from all
</FilesMatch>

<FilesMatch "^\.pw$">
  Deny from all
</FilesMatch>

AuthType Basic
AuthName "Password Protected"
AuthUserFile /home/apweb2/apweb2/apweb.info/db/.pw
Require valid-user

